@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto/Roboto-Bold.ttf);
    font-weight: bold;
}

body {
    background-color: #e9e9e9;
    cursor: default;
    font-family: "Roboto";
    font-size: 12px;
    line-height: 1.6em;
    margin: 0;
    padding: 0;
}

input {
    font-family: "Roboto";
    font-size: 12px;
    line-height: 1.6em;
    margin: 0;
    padding: 0;
}

.il-header {
    background-color: #60b572;
    color: #fff;
    font-weight: bold;
    left: 0;
    line-height: 1em;
    padding: 15px 20px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    -webkit-text-shadow: 1px 1px 1px #333;
       -moz-text-shadow: 1px 1px 1px #333;
            text-shadow: 1px 1px 1px #333;
}

.il-body {
    position: absolute;
    top: 42px;
    left: 0;
    right: 0;
    bottom: 50px;
    overflow: hidden;
}

.il-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

/*************************/
/*      Input Form       */
/*************************/

.il-input {
    padding: 15px 20px;
    border: 0;
    color: #535353;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #ccc;
}

.il-input:focus {
    outline: 0;
}

/*************************/
/*       Messages        */
/*************************/

.il-messages {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.il-message,
.il-message--me,
.il-message--greetings,
.il-message--log {
    padding: 5px 10px;
    background-color: #fff;
    margin: 10px;
}

.il-message {
    margin-right: 50px;
}

.il-message--me {
    margin-left: 50px;
}

.il-message--greetings {
    text-align: center;
}

.il-message--log {
    background-color: transparent;
    color: #aaa;
    padding: 0;
    text-align: center;
}

.il-message_user {
    color: #535353;
    font-weight: bold;
}

.il-message_text {
    color: #8f8f8f;
}

/*************************/
/*       Auth form       */
/*************************/

.il-auth_overlay {
    background: rgba(250, 250, 250, 0.6);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 960;
}

.il-auth {
    background-color: #fff;
    height: auto;
    left: 50vw;
    margin-left: -150px;
    margin-top: -150px;
    position: fixed;
    top: 50vh;
    width: 300px;
}

.il-auth_header {
    background-color: #60b572;
    color: #fff;
    line-height: 1em;
    font-weight: bold;
    padding: 15px 20px;
    -webkit-text-shadow: 1px 1px 1px #333;
    -moz-text-shadow: 1px 1px 1px #333;
    text-shadow: 1px 1px 1px #333;
}

.il-auth_form_group {
    padding: 0 15px;
    margin: 15px 0;
    position: relative;
}

.il-auth_form_input {
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.il-auth_form_input:focus {
    outline: none;
}

.il-auth_form_btn {
    background-color: #ddd;
    box-sizing: border-box;
    display: block;
    border: 0;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.il-auth_form_btn:hover {
    background-color: #eee;
}